html, body {
  height: 100%;
  overflow: hidden;
}

.gdnet-app {
  position: absolute;
  top: 100px;
  left: 0px;
  width: 100%;
  height: calc(100vh - 110px);
  margin-right: unset;
  margin-left: unset;
}

.gdnet-view {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 110px);
}

.view-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-left: 10px;
  top: 60px;
}

#root {
    width: 100%;
    overflow: hidden;
}

.btn-selected {
  border-color: red;
}

.status-false {
  color: red;
}