
// $gdnet-grey: #5a6268;
// $gdnet-grey-blur:rgba(90,98,104,.3);
// $gdnet-purple: mediumpurple;
// $gdnet-paramlength: 208px;
// import '../themes/GDNetBoostrapThemes.css';
$accent: rgba(93, 253, 203, 1);
$primary: rgba(147, 112, 219, 1);
$contrast: rgba(124, 198, 254, 1);
$background: rgba(244, 250, 255, 1);
$text: rgba(8, 9, 10, 1);