$primary: rgba(147, 112, 219, 1); // #9370dbff
$success: rgba(93, 253, 203, 1); // #5dfdcb
$link: $primary;
$text: rgba(8, 9, 10, 1); // #08090a
$background: rgba(244, 250, 255, 1); // #f4faff
$layout: rgba(124, 198, 254, 1); // #7cc6fe