// @import "../constants.scss";

// .datapoint-editor {
//   padding-top: 10px;
//   width: 60%;
//   position: relative;
//   top: 0px;
//   left: 0px;
// }

// .datapoint-editor-entry {
//   display: flex;
//   flex-direction: row;
//   min-width: 500px;
//   padding-bottom: 5px;
// }

// .datapoint-editor-key {
//   min-width: $gdnet-paramlength;
//   height: 30px;
// }

// .datapoint-editor-value {
//   display: flex;
//   flex-direction: row;
// }

// .datapoint-editor-value select {
//   width: 250px;
// }

// .datapoint-editor-actions {
//   display: flex;
//   flex-direction: row;
// }

.datapoint-parameter-invalid {
  height: 3px;
  width: 131px;
  background-color: red;
}

.datapoint-parameter-valid {
  height: 3px;
  width: 131px;
}
