$left-margin: 20px;

.dashboard {
  display: flex;
  flex-direction: column;
  margin-left: $left-margin;
  width: 100%;
}

.dashboard-box {
  display: flex;
  flex-direction: row;
}

.dashboard-charts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}