.titlebox {
  width: 50%;
  min-height: 543px;
  max-height: 543px; }

.titlebox-title {
  width: 100%;
  height: 30px;
  text-align: center;
  font-size: 18px;
  padding-top: 6px;
  border: solid 1px;
  border-color: white; }

.titlebox-content {
  width: 100%;
  height: 470px;
  border: solid 1px;
  border-color: white;
  overflow: auto; }
