@import "../constants.scss";

$base-color: $primary;
$lightned-color: lighten($base-color, 32);
$darkned-color: lighten($base-color, 25);

.WallSwitch {
  position: relative;
  width: 180px;
  height: 90px;
  min-height: 65px;
  border-radius: 7px;
  border-left: 2px solid darken($darkned-color, 2);
  border-right: 2px solid darken($darkned-color, 2);
  
  padding: 15px;
  transition-property: border, background, box-shadow;
  transition-duration: 250ms;
  margin: 0px 5px 10px 0px;
}

.Name {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: small;
}

.Status {
  position: absolute;
  left: 10px;
  bottom: 5px;
  width: 5px;
  height: 15px;
}

$status-off: rgb(220, 220, 220);
$status-on: $success;
$border-in: 3px;
$border-out: 7px;

.Off {
  background: linear-gradient($lightned-color, $darkned-color);
  border-top: $border-in solid $lightned-color;
  border-bottom: $border-out solid darken($darkned-color, 5);
  box-shadow: 0 5px 10px 0px #20202030;
  .Status {
    border: 1px solid darken($color: $status-off, $amount: 10);
    background-color: $status-off;
  }
}

.On {
  background: linear-gradient($darkned-color, $lightned-color);
  border-top: $border-out solid $lightned-color;
  border-bottom: $border-in solid darken($darkned-color, 5);
  box-shadow: 0 5px 3px 0px #20202030;
  .Status {
    border: 1px solid lighten($status-on, 10);
    background-color: $status-on;
    box-shadow: 0 0 20px 1px $status-on;
  }
}
