.app-header {
  height: 100px;
  width: 100%;
  min-width: 1000px;
  margin-left: 0px;
  display: block;
  background-color: #5a6268;
  vertical-align: middle;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000; }

.app-header-title {
  font-size: 25px;
  text-decoration: underline;
  margin-top: 25px;
  margin-left: 25px; }

.header-menu-bars {
  position: absolute;
  top: 14px;
  right: 20px;
  color: mediumpurple; }

.app-header-dropdown-hidden {
  position: absolute;
  top: 80px;
  right: 20px;
  background-color: #5a6268;
  color: mediumpurple;
  padding: 20px;
  font-size: 25px;
  display: none;
  flex-direction: column; }

.app-header-dropdown {
  position: absolute;
  top: 80px;
  right: 20px;
  background-color: #5a6268;
  color: mediumpurple;
  padding: 20px;
  font-size: 25px;
  display: flex;
  flex-direction: column; }

.dropdown-link {
  background-color: #5a6268;
  color: mediumpurple;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-decoration: none;
  border: 1px;
  border-radius: 7px;
  margin: 3px; }

.dropdown-link-current {
  background-color: white;
  color: mediumpurple;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-decoration: none;
  border: 1px;
  border-radius: 7px;
  margin: 3px; }

.dropdown-link:hover {
  cursor: pointer; }
