.linechart {
  position: relative;
  background-color: black; }

.linechart-ymin {
  position: absolute;
  top: 80%;
  left: 2px;
  color: white;
  z-index: 130;
  font-size: 8px; }

.linechart-ymax {
  position: absolute;
  top: 0;
  left: 4px;
  color: white;
  z-index: 130;
  font-size: 8px; }

.linechar-rightend {
  position: absolute;
  width: 15px;
  left: 100%;
  top: 0;
  height: 100%;
  background-color: black;
  z-index: 110;
  margin-right: 5px; }

.linechart-plots {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
  padding-top: 5px; }

.linechart-axis {
  margin-left: 15px;
  padding-top: 5px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; }

.linechar-title {
  margin-left: 15px;
  padding-top: 10px;
  padding-left: 5px;
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  z-index: 20; }
