@import "../constants.scss";

.condition-view-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 60px;
}

.condition-creator {
    display: block;
    height: 100vh;
    margin-left: 20px;
}

#condition-list {
    width: 460px;
    min-width: 460px;
    max-height: 600px;
    min-height: 600px;
    overflow: scroll;
    padding-left: 24px;
    padding-right: 10px;
}

.gdnet-title {
    font-size: 24px;
    padding-left: 24px;
    height: 48px;
    width: 100%;
    background-color: $gdnet-purple;
    color: white;
    margin-bottom:20px;
    position: absolute;
  }

  .condition-item {
      display: flex;
      flex-direction: row;
  }