@import "../constants.scss";

.condition-view-container {
    display: flex;
    flex-direction: row;
}

.condition-creator {
    display: block;
    min-width: 50%;
    max-width: 50%;
    height: 100vh;
    margin-left: 20px;
}

#condition-list {
    width: 360px;
    min-width: 360px;
    max-height: 600px;
    min-height: 600px;
    overflow: scroll;
    padding-left: 24px;
    padding-right: 10px;
}

.gdnet-title {
    font-size: 24px;
    padding-left: 24px;
    height: 48px;
    width: 100%;
    background-color: $gdnet-purple;
    color: white;
    margin-bottom:20px;
  }