@font-face {
  font-family: "Play";
  src: local("play-v11-latin-regular"),
    url(./media/fonts/play-v11-latin-regular.woff) format("woff");
}

@font-face {
  font-family: "Roboto";
  src: local("roboto-v20-latin-regular"),
    url(./media/fonts/roboto-v20-latin-regular.woff) format("woff");
}

#root {
  height: 100%;
}